<!-- <p Chartdr >pie-chart works!</p> -->

<div class="container py-5">
    <div class="row">
        <div class="col-6">
            <h2>Chart Form</h2>
            <form [formGroup]="chartForm" (ngSubmit)="CreateChart(val1.value)">
              <div class="form-group">
                <label for="val1">First Value</label>
                <input type="text" class="form-control w-50" [value]="giv1" #val1 id="val1" formControlName="value1" (focusout)="checkValue1(val1.value)">
                <span class="badge badge-warning" *ngIf="chartForm.get('value1').invalid && chartForm.get('value1').touched">please enter a number between 1 to 100</span>
              </div>
              <div class="form-group">
                <label for="val2">Second Value</label>
                <input type="text" class="form-control w-50" id="val2" formControlName="value2" [value]="giv2" #val2 (focusout)="checkValue2(val2.value)">
                <span class="badge badge-warning" *ngIf="chartForm.get('value2').invalid && chartForm.get('value2').touched">please enter a number between 1 to 100</span>
              </div>
              <div class="form-group">
                <button class="btn btn-primary" >Create Chart</button>
              </div>
            </form>
          </div>
        <div class="col-6">
            <h2>Chart Formation</h2>
            <div class="p-square my-3">
              <div class="square1 mr-2"></div><span>A</span>
              <div class="square2 ml-4 mr-2"></div><span>B</span>
            </div>
            <div class="pieChart" chartDir [chartValue]="passValue">

            </div>

        </div>
    </div>
</div>
